.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: beige;
  display: flex; /* flexbox를 사용하여 자식 요소들을 가로로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center; /* 수평 가운데 정렬 */
  font-size: calc(10px + 2vmin);
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* 이미지와 제목을 가로로 배치하기 위한 스타일 */
.App-header img {
  margin-right: 10px; /* 이미지 오른쪽 여백을 설정하여 제목과의 간격 조절 */
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  width: 200px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-main {
  padding: 20px;
  display: flex;
  justify-content: center; /* 중앙 정렬 */
}

.main-content {
  width: 50%; /* 화면 가로길이의 70%로 설정 */
  padding: 10px 40px; /* 위아래 10px 왼오 20px */
  background-color: #f0f0f0; /* 배경 색상을 설정 */
}

.introduce {
  text-align: left; /* 좌측 정렬 */
  display: flex;
  margin-right: 10px;
}

.introduce h2 {
  align-self: flex-end; /* h1의 높이만큼 아래로 내리기 */
}

.introduce h1 {
  margin-bottom: 15px;
}

.bar {
  background-color: #61dafb;
  width: 10px;
  height: 60px;
  margin-top: 10px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: beige;
  overflow: hidden;
  transition: width 0.3s ease; /* 슬라이드 애니메이션 */
}

.menu.open {
  width: 200px; /* 메뉴 열림 상태의 너비 */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.menu li {
  margin-bottom: 10px;
}