.departmentConts {
    height:100vh;
	.tit {
        font-size: 50px;
        color: #001f33;
        span {
            font-family: "Cormorant", serif;
        }
    }
    .departSwiper {
        .swiperImg {
            img {

            }
        }
    }
}