footer {
    width: 100%;
    padding: 126px 0;
    border-top: solid 1px #4a6869;
	touch-action: none;
	.inner {
		display: flex;
		flex-wrap: wrap;
		width: 1200px;
		margin: 0 auto;
	}
	.info {
		width: 21%;
		margin-right: 20%;
		.logo {
			margin-bottom: 14px;
			font-size: 40px;
			line-height: 1;
			font-weight: 700;
			span {
				color: #4a6869;
			}
			.logoColor {
				color: #4a6869;
			}
		}
		p {
			margin-bottom: 39px;
			font-size: 18px;
		}
		.sns {
			display: flex;
			justify-content: space-between;
			margin-right: 84px;
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				padding: 12px;
				border-radius: 84px;
				border: solid 1px #e9e9ea;
				transition: 0.5s;
				color: #4a6869;
				&:hover {
					background-color: #edf0f0;
					color: #698182;
				}
			}
		}
	}
	.nav {
		width: 16%;
		h2 {
			margin-bottom: 20px;
			font-weight: 500;
			line-height: 1;
		}
		.list {
			li {
				margin-bottom: 23px;
				font-size: 18px;
				color: #56565c;
				transition:all 0.5s;
				&:hover{
					color:rgb(43, 174, 41);
				}
			}
			a {
				color: #4a6869 !important;
			}
		}
	}
	.contactUs {
		width: 22.1%;
		margin-left: 100px;
		li {
			margin-bottom: 31px;
			font-size: 17px;
			color: #858585;
			span {
				display: block;
				padding-top: 4px;
				font-size: 20px;
				color: #56565c;
				transition:all 0.5s;
				&:hover{
					color:rgb(43, 174, 41);
				}
			}
			a {
				color: #4a6869 !important;
			}
		}
	}
	.copy {
		width: 100%;
		margin-top: 55px;
		padding: 26px 0;
		border-top: solid 1px #eff3f0;
		text-align: center;
		color: #78787d;
	}
}
