.mainConts1 {
    display: flex;
	width: 100%;
	height: calc(100vh - 141px);
	padding: 75px 0;
	background: #f6f6f6;    
	align-items: center;
	justify-content: center;
	touch-action: none;
    background-image: url("../../public/img/rabbit.png");
    background-repeat: no-repeat;        
    background-size: 20%;
    background-position: right 45% bottom 10%;
	.inner {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 1200px;
		height: 625px;
	}
    .topText {
		width: 58%;
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		font-size: 20px;
		color: #005b96;
		z-index: 1;
		&::before {
			content: "";
			display: block;
			height: 1px;
			width: 30px;
			margin-right: 10px;
			background: #005b96;
		}
    }
    h2 {
        margin-bottom: 40px;
        font-size: 60px;
        font-weight: 500;
        line-height: 1.3;
    }
	.icons {
		display: flex;		
		margin-right: 84px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 40px;
			padding: 12px;
			border-radius: 84px;
			border: solid 1px #e9e9ea;
			transition: 0.5s;
			color: #005b96;
			&:hover {
				background-color: #edf0f0;
				color: #005b96;
			}
		}
	}
    .bottomTxt {
        margin-bottom: 40px;
        font-size: 17px;
        font-weight: 400;
        line-height: 1.5;
        color: #005b96;
    }
    .btn {
        display: flex;
		width: 250px;
		height: 67px;
		margin-right: auto;
		font-size: 18px;
		border-radius: 100px;
		color: #fff;
		background-color: #005b96;
		z-index: 1;
		align-items: center;
		justify-content: center;
		transition: all 0.5s;
        &::after {
            content: '>';
            color: #fff;
        }
    }
    .imgWrap {
        width: 42%;
        height: 100%;
        z-index: 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
    .bg {
        position: absolute;
		width: 22%;
		bottom: 23%;
		left: 43%;
		z-index: 0;
		path {
			fill: #005b96; 
		}
    }
}

.mainConts2 {
    display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #fbfbfc;
	align-items: center;
	justify-content: center;
	touch-action: none;
	.inner {
		width: 1200px;
	}
	.tit {
		width: 46%;
		margin-bottom: 3vmin;
		font-size: 5vmin;
		font-weight: 400;
		// opacity: 0;
		transform: translateY(-50px);
	}
    .conts {
        display: flex;
        flex-wrap: wrap;
        .item {
            position: relative;
			width: calc(50% - 40px);
			margin: 0 40px 4vmin 0;
			padding: 40px 5vmin;
			border: 1px solid #e7e7e7;
			transition: all 0.3s;
			cursor: pointer;
			background-color: #fbfbfc;
            &:hover {
				transform: translate(-5px, -5px) scale(1.04);
				border-color: #fff;
				background-color: #fff;
				box-shadow: 20px 20px 20px #ececec;
			}  
			hr {
				border-top: 1px solid #e4e4e4;
				margin-bottom: 13px;
			}   
        }
        .top {
            display: flex;
            span[class*="material"] {
                margin-right: auto;
                font-size: 50px;
                color: #005b96;
            }
            .num {
                font-size: 25px;
                color: #86878b;
            }
        }
        h2 {
            margin-bottom: 15px;
            font-size: 40px;
            color: #0d0e16;
        }
        p {
            margin-bottom: 20px;
			font-size: 16px;
			line-height: 1.4;
			color: #6e6e75;
			img {
				width: 70px;
			}
        }		
    }
	.bg2 {
		position: absolute;
		width: 330px;
		left: -77px;
		bottom: -80px;
		z-index: 1;
		transform: scaleX(-1); /*좌우반전*/
		path {
			fill: #e0e7e1;
		}
	}
}

.mainConts3 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 75px 0;
	background: #f6f6f6;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	touch-action: none;
	.inner {
		width: 1200px;
		margin-right: -100px;
		> h1 {
			margin-bottom: 26px;
			font-size: 73px;
			font-weight: 400;
			letter-spacing: -2px;
			text-align: center;
			color: #0d0e16;
		}
		> p {
			width: 50%;
			margin: 0 auto 104px;
			font-size: 18px;
			text-align: center;
			line-height: 1.8;
			color: #535459;
		}
		> .conts {
			display: flex;
		}
	}

	.process {
		display: flex;
		/*flex-direction: column; /* 요소들을 세로로 나열 */
		width: 41.7%;
		flex-wrap: wrap;
		align-items: flex-start;
		cursor: pointer;
		// background-color: pink;

		.item {
			display: flex;
			margin: 31px 0 0 0;
			&:hover {
				.num {
					color: #fff;
					border: 1px solid #000;
					background: #000;
				}
				h2 {
					color: #000;
					text-decoration: underline;
				}
				p {
					color: #56565c;
				}
			}
		}

		.left {
			display: flex;
			width: 25%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
		.num {
			width: 30%;
			display: flex;
			align-items: center;
			margin-bottom: 18px;
			border-radius: 50px;
			border: solid 1px #c7c9c9;
			padding: 28px;
			font-size: 19px;
			line-height: 0;
			color: #6a6c70;
			justify-content: center;
			transition: all 0.5s;
		}
		.arrow {
			position: relative;
			display: flex;
			//align-items: flex-end;
			align-items: flex-start;
			width: 3px;
			height: 60px;
			background: repeating-linear-gradient(
				/*to top,*/
				to bottom,
				#c7c9c9,
				#c7c9c9 8px,
				#fff0 8px,
				#fff0 14px
			);
			&::after {
				content: "";
				display: block;
				position: absolute;
				/*bottom: 0px;*/
				top:0px;
				width: 15px;
				/*margin: 0 0 6px -9px;*/
				margin: 6px 0 0 -9px;
				height: 3px;
				border-left: solid 3px #c7c9c9;
				border-right: solid 3px #c7c9c9;
				border-radius: 15px;
			}
		}
		.conts {
			width: 700px;
			margin-right: -450px;			
			h2 {
				margin-bottom: 8px;
				font-size: 27px;
				color: #727578;
				transition: all 0.5s;
				font-weight: 400;
			}
			p {
				font-size: 18px;
				line-height: 1.4;
				color: #96979a;
				transition: all 0.5s;
			}
		}	
	}
	.bg3 {		
		width: 250px;
		right: -550px;
		bottom: -80px;
		z-index: 1;
		Path {
			fill: #e0e7e1;
		}
	}
}