.portfolioConts {
    padding-top: 10px;
    position: relative;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
    transform: translateY(0px);
	transition: all 1s ease-in-out 1s;
	z-index: 1;
	.tit {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: #001f33;
        margin: -440px 0 0 -770px;
        span {
            font-family: "Cormorant", serif;
        }
    }
    .departSwiper {
        height: 100vh;
        .swiperImg {
            width: 400px;
            height: 460px;
            display: flex; /* Flex 컨테이너로 설정 */
            flex-direction: column;
            justify-content: center; /* 가로 중앙 정렬 */
            align-items: center; 
            img {
                object-fit: cover;
                width: 60%;
                height: 110%;
                margin: 400px 0 0 0px;
                border: 1px solid rgba(0, 0, 0, 0.2);
            }
            h2 {
                font-weight: bolder;
                font-size: 20px;
            }
            .swiperText {
                text-align: center;
                align-items: center;
                span {
                    font-size: 17px;
                }
                a {
                    display: flex;
                    width: 100px;
                    height: 35px;
                    border: none;
                    font-size: 14px;
                    border-radius: 100px;
                    color: #fff;
                    background-color: #005B96;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-left: 90px;
                }
                .img4a {
                    margin-left: 160px;
                }
            }
            .img1,
            .img2,
            .img3,
            .img4,
            .img5 {
                margin: 600px 0 0 0px;
            }
            // .img5 {
            //     margin: 400px 0 0 0px;
            // }
            span {
				top: 0;
				left: 0;
				text-align: left;
				// margin-top: 900px;
                // margin-right: 570px;
                // margin-left: -570px;
				font-size: 16px;
			}
        }
    }
}