@charset "UTF-8";

// 반응형 셋팅
$xl: 1439px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;

@import "reset";
@import "portfolio";
@import "career";
@import "study";
@import "youtube";
@import "location";
@import "join";
@import "header";
@import "footer";
